/* Global Variables */
/*///////////////////////*/

@import url('https://fonts.googleapis.com/css2?family=Orienta&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: 'Orienta', sans-serif;
}

ul {
  list-style: none;
}

a, a:visited, a:active {
  text-decoration: none;
  color: var(--white);
}

:root {
  --primary: #2C97E3;
  --grey: #6C6F73;
  --black: black;
  --white: #FFFFFF;
  --bg: #FBFAF7;
  --red: #CF3434;
}